{
    "extends": "standard",
    "rules": {
        "semi": [
            1,
            "never"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "no-unexpected-multiline": 2,
        "quotes": [
            "error",
            "double"
        ],
        "no-console": 0,
        "no-unused-vars": 1,
        "no-undef": 1
    }
}