/*
  - Typographies
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
  - Variables
*/

:root {
  --counterSize: 7rem;
  --popBorderWidth: 0.583333333em;
  --popDistance: -0.583333333em;
  --textColorDark:  rgb(40, 45, 60);
  --uiZindex: 2;
  --popZindex: 3;
  --loadinScreenZindex: 6;
}

/*
 - Global layout
*/
html {
  font-size: 16px;
}

body {
  color: white;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-size: 1rem;
}

canvas {
  height: 100%;
  width: 100%;
}

.ui {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: var(--uiZindex);
  align-items: center;
}

@media (min-width: 61.9375rem) { /* 991px */
  .ui {
    flex-direction: row;
    padding: 0 1.875rem 1.875rem;
  }
}

/*
  Atomic utils classes
*/

/*
 -- flex
*/
.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

/*
 -- margin
*/

.my-1 {
  margin: 1rem 0;
}

@media (min-width: 61.9375rem) { /* 991px */
  .my-md-0 {
    margin: 0;
  }
}

/*
 -- text-align
*/

.text-center {
  text-align: center;
}

/*
  - Animations definition
*/
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@keyframes move-up {
	from   { bottom: 30px; }
	to { bottom: 42px; }
}
@-webkit-keyframes pulse {
  25% { -webkit-transform: scale(1.1); }
  75% { -webkit-transform: scale(0.9); }
}
@keyframes pulse {
  25% { transform: scale(1.1); }
  75% { transform: scale(0.9); }
}

@keyframes fly {
  from {
    transform: translateY(-105%);
  }

  to {
    transform: translateY(-25%);
  }
}

/*
 - Links
*/

a {
  font-size: 1.25rem; /* 20px */
  background-color: #52a2fb;
  background-image: linear-gradient(45deg, #14e1fa 0%, #14e1fa 55%, #52a2fb 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  border-radius: 1.5em;
  box-shadow: 0 0.8em 1.6em 0 rgba(0, 40, 120, .35);
  color: white;
  font-weight: bold;
  padding: 0.75em 2.25em;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

a:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
  padding: 1em 2.75em;
  text-decoration: none;
  font-weight: bolder;
}

#number {
  font-size: 2.1875rem;
}

.about {
    margin-top: 2.1875rem;
}

.counter {
  border: 0.25rem solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: var(--counterSize);
  height: var(--counterSize);
}

.counter p {
  margin: 0;
}

.counter .bee {
  font-size: 2.1875rem;
}

.pulse {
  -webkit-animation: 2s linear infinite pulse;
  animation: 2s linear infinite pulse;
}

.qs {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.qs:hover .pop {
  display: block;
  animation: fade-in .3s linear 1, move-up .3s linear 1;
  animation: fade-in .3s linear 1, move-up .3s linear 1;
}

.pop {
  font-size: 0.75rem; /* 12px */
  position: absolute;
  bottom: 3.5em;
  background-color: rgba(255, 255, 255, .85);
  border-radius: 0.416666667em;
  box-shadow: 0 0 0.416666667em rgba(0, 0, 0, .4);
  color: var(--textColorDark);
  display: none;
  right: 0.416666667em;
  padding: 0.583333333em 0.833333333em;
  width: 16.666666667em;
  z-index: var(--popZindex);
}

.pop::before {
  position: absolute;
  left: 93%;
  bottom: var(--popDistance);
  content: ' ';
  display: block;
  border-top: var(--popBorderWidth) solid rgba(255, 255, 255, .85);
  border-right: var(--popBorderWidth) solid transparent;
  border-left: var(--popBorderWidth) solid transparent;
  margin-left:  var(--popDistance);
}

/*
 - Loading screen
*/

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: var(--loadinScreenZindex);
  background-color: rgb(10, 10, 20);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.09375em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 750ms ease-in-out all;
}

.loading .icon {
  margin-bottom: 1.25rem;
}

.loadingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-wrapper {
  display: flex;
}

.audio {
  letter-spacing: 0;
  color: rgb(200, 200, 230);
  font-size: 1rem;
}

.bee-icon {
  animation: fly 750ms infinite alternate ease-in-out;
}

.audio p {
  margin: 2rem 0;
}

.is-done .loading {
  max-height: 0;
}
