/*
  - Typographies
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
  - Variables
*/

:root {
  --counterSize: 7rem;
  --popBorderWidth: 0.583333333em;
  --popDistance: -0.583333333em;
  --textColorDark:  rgb(40, 45, 60);
  --uiZindex: 2;
  --popZindex: 3;
  --loadinScreenZindex: 6;
}

/*
 - Global layout
*/
html {
  font-size: 16px;
}

body {
  color: white;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-size: 1rem;
}

canvas {
  height: 100%;
  width: 100%;
}

.ui {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: var(--uiZindex);
  align-items: center;
}

@media (min-width: 61.9375rem) { /* 991px */
  .ui {
    flex-direction: row;
    padding: 0 0 1.875rem 0;
  }
}

/*
  Atomic utils classes
*/

/*
 -- flex
*/
.fg-1 {
  flex-grow: 1;
}

.fg-2 {
  flex-grow: 2;
}

/*
 -- margin
*/

.my-1 {
  margin: 1rem 0;
}

@media (min-width: 61.9375rem) { /* 991px */
  .my-md-0 {
    margin: 0;
  }
}

/*
 -- text-align
*/

.text-center {
  text-align: center;
}

/*
 -- Visibility
*/
.is-hidden {
  display: none;
}

/*
  - Animations definition
*/
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-up {
	from   {
    bottom: 30px;
  }

	to {
    bottom: 42px;
  }
}

@keyframes move-up {
	from {
    bottom: 30px;
  }

	to {
    bottom: 42px;
  }
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}

@keyframes fly {
  from {
    transform: translateY(-105%);
  }

  to {
    transform: translateY(-25%);
  }
}

@keyframes backdropAnimation {
  from {
      backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(5px);
  }
}

/*
 - Links
*/

a {
  font-size: 1.25rem; /* 20px */
  background-color: #52a2fb;
  background-image: linear-gradient(45deg, #14e1fa 0%, #14e1fa 55%, #52a2fb 90%);
  background-position: 100% 0;
  background-size: 200% 200%;
  border-radius: 1.5em;
  box-shadow: 0 0.8em 1.6em 0 rgba(0, 40, 120, .35);
  color: white;
  font-weight: bold;
  padding: 0.75em 2.25em;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  margin-left: -6rem;
}

a:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
  padding: 1em 2.75em;
  text-decoration: none;
  font-weight: bolder;
}

/*
* -- about
*/

.about {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

/*
* -- counter
*/

#number {
  font-size: 2.1875rem;
}

.counter {
  border: 0.25rem solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: var(--counterSize);
  height: var(--counterSize);
  transform: translateX(1.875rem);
}

.counter p {
  margin: 0;
}

.counter .bee {
  font-size: 2.1875rem;
}

.label {
  margin: 0;
  text-align: left;
}

.pulse {
  -webkit-animation: 2s linear infinite pulse;
  animation: 2s linear infinite pulse;
}

/*
 - Loading screen
*/

.loading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: var(--loadinScreenZindex);
  background-color: rgb(10, 10, 20);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 0.09375em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 750ms ease-in-out all;
}

.loading .icon {
  margin-bottom: 1.25rem;
}

.loadingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-wrapper {
  display: flex;
}

.audio {
  letter-spacing: 0;
  color: currentColor;
  font-size: 1rem;
}

.bee-icon {
  animation: fly 750ms infinite alternate ease-in-out;
}

.audio p {
  margin: 2rem 0;
}

.is-done .loading {
  max-height: 0;
  color: transparent;
}

/*
  -- SweetAlert
*/

.swal2-container {
  animation: backdropAnimation linear 250ms forwards;
}

.swal2-modal {
  padding: 1.875rem !important;
}

.swal2-contentwrapper,
.swal2-container button,
.swal2-container input,
.swal2-container textarea {
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
}


.swal2-container textarea {
  height: unset !important;
  padding: 0.75rem !important;
  resize: none;
}

.swal2-container button,
.swal2-container .label {
  font-weight: 800 !important;
}

.swal2-title {
  margin-bottom: 1.875rem !important;
}

.swal2-container button {
  border-radius: 1.875rem !important;
}

.swal2-confirm {
  background: linear-gradient(to left, rgb(152, 242, 146), rgb(8, 241, 177)) !important;
}

.swal2-container.no-background .swal2-modal {
  background-color: transparent !important;
}

.swal2-container.no-background .swal2-title,
.swal2-container.no-background .swal2-content {
  color: white;
}

.swal2-container.no-background .swal2-content {
  line-height: 1.75;
}

.swal2-container.no-background button {
  border: white solid 2px !important;
  background: transparent !important;
}

/*
  -- Range
*/
.range-wrapper {
  display: block;
  cursor: pointer;
}

.range-wrapper input {
  cursor: col-resize;
  width: 100%;
}

.range-wrapper option {
  padding: 0;
}

/*
-- Mode wrapper
*/

.mode-wrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.mode-wrapper label {
  margin: 0.875rem 0;
  font-weight: 800;
}


.filter {
  left: -9999px;
  position: absolute;
}

.burger {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.radios-boxes {
  display: flex;
}

.radios {
  display: flex;
  filter: url('#gooeyness');
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.radio {
  border-radius: 50%;
  border: 10px solid #ccc;
  cursor: pointer;
  height: 40px;
  margin: 10px;
  outline: 0;
  width: 40px;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: border-color 800ms;
  transition: border-color 800ms;
  -webkit-tap-highlight-color: transparent;
}

.radio.active {
  border-color: white;
}

.ball {
  background: white;
  border-radius: 50%;
  height: 34px;
  left: 13px;
  pointer-events: none;
  position: absolute;
  top: 13px;
  width: 34px;
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
  transition: transform 800ms;
  -webkit-transition: transform 800ms;
}

.ball.pos0 {
  transform: translateY(0px);
}

.ball.pos1 {
  transform: translateY(60px);
}

.labels {
  margin-left: 5px;
}

.label {
  color: #cccccc;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px 0;
  -webkit-tap-highlight-color: transparent;
  transition: color 800ms;
}

.label.active {
  color: white;
}
